* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    border: 2px solid #000;
    padding: 20px;
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-size: cover;
}

.twitter {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/twitter.png');
}
.insta {
    background-image: url('https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png');
}
.youtube {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/youtube-play.png');
}

.instagram {
    background: #e91e63;
    color: #fff;
    border: none;
}

button {
    background: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-white {
    background: #fff;
    color: #e91e63;
}